body{
	
  background-color:AliceBlue;
  font-style: cursive;
}

.main-container {
	display: flex;
	flex-direction: row;
	background-color:#999999;
    border: 0px solid black;
    border-radius: 25px;
}
.inner-div {
    display: flex;
    flex-direction: column;
    background-color:#999999;
    border: 0px solid black;
    border-radius: 25px;
  }

.inner-divi {
   display: flex;
    flex-direction: row;
    
    background-color:#5c5541;
    border: 5px solid black;
    border-radius: 25px;

}
.inner-inner-divi {
   display: flex;
    position: center;
    
    width:33%;
    flex-direction: column;
    background-color:#7a776e;
    border: 2px solid black;
     margin: 35px;
    border-radius: 25px;

}