body{

  background-color:grey;
  font-style: cursive;

}

.main-container {
		display: flex;
		flex-direction: row;
		background-color:red;
  	border: 0px solid black;
  	border-radius: 25px;
}
.inner-div {
    display: flex;
    flex-direction: column;
    background-color:black;
    border: 0px solid black;
    border-radius: 10px;
  }

.inner-divi {
    display: flex;
    flex-direction: row;
    background-color:#f2f2dc;
    border: 2px solid black;
    border: 25px;

}
.inner-inner-divi {
    display: flex;
    position: center;
    width:33%;
    flex-direction: column;
    background-color:white;
    border: 2px solid red;
    margin: 35px;
    border: 25px;

}
