body{
  background-color:AliceBlue;
  font-style: cursive;
}
h1{
  font-style: cursive;
}

p{
  text-align: center;
  font-style: cursive;
  font-size: 30px;
}

.main-container {
display: flex;
  	flex-direction: column;
    background-color:grey;
    padding: 50px 5px 5px 5px;
    border-radius: 25px;
  }

.inner-div {
    display: flex;
    flex-direction: row;
    background-color:#999999;
    border: 0px solid black;
    border-radius: 25px;


  }

.mid-inner-right {
  display: flex;
  flex-direction: column;
  background-color: #c0c0c0;;
  border: 1px solid black;
  border-radius: 50px;
  padding: 25px;
  margin-left: 32%
}
.mid-inner-left {
  display: flex;
  flex-direction: column;
  background-color: #c0c0c0;;
  border: 1px solid black;
  border-radius: 50px;
  padding: 25px;
  margin-right: 32%;
  margin-left: 3%;
}

#ibSubmit{
    font-family: cursive;
    border-radius: 100px;
    justify-content: center;
    border: 2px solid black;
    padding: 15px; 
    width: 100px;
    height: 20px;  
    padding-bottom: 35px;
    
}
#userPassword{
    font-family: cursive;
    position: center;
    border-radius: 50px;
    border: 2px solid black;
    padding: 15px; 
    width: 200px;
    height: 20px;  
    padding-bottom: 35px;
    
}
#userlogin{
    font-family: cursive;
    position: center;
    border-radius: 50px;
    border: 2px solid black;
    padding: 15px; 
    width: 200px;
    height: 20px;  
    padding-bottom: 35px;
    
}
#userEmail{
    font-family: cursive;
    position: center;
    border-radius: 50px;
    border: 2px solid black;
    padding: 15px; 
    width: 200px;
    height: 20px;  
    padding-bottom: 35px;
    
}
      
::-webkit-input-placeholder {
   text-align: center;
}